/* ColorSheme */
/* https://github.com/fantasyui-com/synthwave/blob/master/style.css */
/* gradient borders */
/* https://css-tricks.com/gradient-borders-in-css/ */
/* Title text gradient animation */
/* https://fossheim.io/writing/posts/css-text-gradient/ */
/* Animation - Work */
/* https://www.youtube.com/watch?v=YTHYroxZOoE */



/* Setting all elements to boarder-box sizing and CSS Reset to appear the same in all browsers */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets bacground color for the web page */
body {
    background: content-box radial-gradient( #511139 0%, #5f0b50 27%, #4f053f 52%, #341d57 65%, #480e5c 83%, #3f1766 100%);
}

/* Sets the header style */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets the positioning of the h1 elements in the header */
#pjs-heading {
    flex-basis: 35%;
    text-align: right;
    align-content: left;
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
    font-size: 48px;
}

/* Establishes the gradient animation in the header title */ 
.gradient-text {
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
    
    /* Gradient color settings */
    background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%,  
          #E16541 66.666%, 
          #CA4246 83.333% );
    

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
        /* Animation event trigger for page load */
    animation: color-gradient-animation 0.75s ease forwards;
  }

    /* Animation event trigger for cursor hover  */
  .gradient-text:hover{
      animation: color-gradient-animation-cursor 0.5s ease-in forwards;
  }

    /* Animation code - page load */
  @keyframes color-gradient-animation {
      0% {
          background-size: 650%;
      }
      50% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  @keyframes color-gradient-animation-cursor {
      0% {
          background-size: 100%;
      }
      70% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }


/* Sets the style for the navigation menu */
#nav-menu{
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets the style for unorderd list items of the navigation menu */
.nav-links{
    display: inline-flex;
    list-style-type: none;

}

/* sets the style for the border that are color gradients */
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }

/* sets the color gradient for the borders */
  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }

/* Sets the style for navigation menu items */

.nav-links li{ 
    flex-grow: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px; 
    margin-left: 25px;
        
}

/* Sets font colors for the navigation menu items */

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets the style for the banner */
#banner-1 {
    display: flex;
    justify-content: right;
    background-image: url("../images/DavidFractal_2.gif");
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Sets the positioning and style for <h2> */
.pjs-heading-2 {
    display:flex;
    padding: 10px;
    color:#ffffff;
    -webkit-text-stroke-color: #341d57;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
    align-self: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets the formatting and style for the main article about-pjs */
#about-pjs, #work-pjs {
    display: flex;
    align-items: center;
    background-color: #ffffff;    
}

/* Sets the formatting and style for "about me" header h3*/
#about-pjs h3, #work-pjs h3 {
    align-self: stretch;
    text-align: end;
    padding-right: 25px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

/* sets the formatting and style for the about-pjs <p> info */
#about-pjs p {
    align-self: end;
    padding-bottom: 10px;
    padding-left:10px;
}

/* sets formatting for work-tiles */
#work-tiles {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* sets the formatting for work-pjs main-tile-1 */
#main-tile-1 {
    display: flex;
    justify-content: left;
    background-image: url("../images/Screenshot\ \(1\).png");
    height: 400px;
    width: 400%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

}

/* sets the formatting for work label for figures applied to work-pjs work tiles */
.work-label {
    display:flex;
    align-content: stretch;
    flex-direction: column;
    align-self: end;
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
}

/* sets formatting for h4 content that applies to work-pjs work labels associated with work tiles */
h4 {
    color:#ffffff;
    -webkit-text-stroke-color: #341d57;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* sets formatting for h5 sub title to work-pjs work labels associated with work tiles  */
h5 {
    color:#ffffff;
    -webkit-text-stroke-color: #341d57;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* sets the formatting for work-subtiles */
#work-subtiles {
    display: flex;
    height: 200px;
    width: 200%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* sets the formatting for subtile-1 of work-pjs section */
#subtile-1 {
    
    background-image: url("../images/Untitled-20000.jpg");
}
