/* Setting all elements to boarder-box sizing and CSS Reset to appear the same in all browsers */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets bacground color for the web page */
body {
    background: content-box radial-gradient( #511139 0%, #5f0b50 27%, #4f053f 52%, #341d57 65%, #480e5c 83%, #3f1766 100%);
}

/* Sets the header style */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets the positioning of the h1 elements in the header */
#pjs-heading {
    flex-basis: 35%;
    text-align: right;
    align-content: left;
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
    font-size: 48px;
}

/* Establishes the gradient animation in the header title */ 
.gradient-text {
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
    
    /* Gradient color settings */
    background-image: linear-gradient(
          45deg,
          #CA4246 16.666%, 
          #E16541 16.666%, 
          #E16541 33.333%, 
          #F18F43 33.333%, 
          #F18F43 50%,  
          #E16541 66.666%, 
          #CA4246 83.333% );
    

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
        /* Animation event trigger for page load */
    animation: color-gradient-animation 0.75s ease forwards;
  }

    /* Animation event trigger for cursor hover  */
  .gradient-text:hover{
      animation: color-gradient-animation-cursor 0.5s ease-in forwards;
  }

    /* Animation code - page load */
  @keyframes color-gradient-animation {
      0% {
          background-size: 650%;
      }
      50% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  @keyframes color-gradient-animation-cursor {
      0% {
          background-size: 100%;
      }
      70% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }


/* Sets the style for the navigation menu */
#nav-menu{
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets the style for unorderd list items of the navigation menu */
.nav-links{
    display: inline-flex;
    list-style-type: none;

}

/* sets the style for the border that are color gradients */
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }

/* sets the color gradient for the borders */
  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }

/* Sets the style for navigation menu items */

.nav-links li{ 
    flex-grow: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px; 
    margin-left: 25px;
        
}

/* Sets font colors for the navigation menu items */

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets the style for the banner */
#banner-1 {
    display: flex;
    justify-content: right;
    background-image: url("../images/DavidFractal_2.gif");
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Sets the positioning and style for <h2> */
.pjs-heading-2 {
    display:flex;
    padding: 10px;
    color:#ffffff;
    -webkit-text-stroke-color: #341d57;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
    align-self: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets the formatting and style for the main article about-pjs */
#abt-sec, #w-sec {
    display: flex;
    align-items: center;
    background-color: #ffffff;    
}

#about-pjs h3, #work-pjs h3 {
    align-self: stretch;
    text-align: end;
    padding-right: 25px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

/* sets the formatting and style for the about-pjs <p> info */
#about-pjs p {
    align-self: end;
    padding-bottom: 10px;
    padding-left:10px;
}

/* ADD NOTE HERE */
#top-tile {
    background-image: url("../images/Screenshot\ \(1\).png");

    
    display: flex;
    justify-content: left; 
    height: 400px;
    width: 100%;
    margin-bottom: 25px; 
    background-size: cover;
    background-position: center; 
}

/* ADD NOTE HERE */
h4, h5 {
    color:#ffffff;
    -webkit-text-stroke-color: #341d57;
    -webkit-text-stroke-width: 1px;
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* sets font size for h5 sub title to work-pjs work labels associated with work tiles  */
h5 {
    font-size: 18px;
}

/* ADD NOTE HERE */


/* sets the formatting for work label for figures applied to work-pjs work tiles */
.work-label {
    display:flex;
    align-content: stretch;
    flex-direction: column;
    align-self: end;
    background-image:linear-gradient(to left, #743ad5, #d53a9d);
}

/* ADD NOTE HERE */
#tile-2 {
    background-image: url("../images/Untitled-20000.jpg");
    display: flex;
    justify-content: left;
    height: 200px;
    width: 50%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center; 
}

/* ADD NOTE HERE */
#tile-3 {
    background-image: url("../images/DavidFractal_2.gif");
    display: flex;
    justify-content: left;
    height: 200px;
    width: 50%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center; 
}

/* ADD NOTE HERE */
#tile-4 {
    background-image: url("../images/loFi-ComputerChill.gif");
    display: flex;
    justify-content: left;
    height: 200px;
    width: 50%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center; 
}

/* ADD NOTE HERE */
#tile-5 {
    background-image: url("../images/PeteWBooks.png");
    display: flex;
    justify-content: left;
    height: 200px;
    width: 50%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center; 
}

/* ADD NOTE HERE */

#work-tiles {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex: 0 0 100%;
}

/* ADD NOTE HERE */
.subtiles {
    display: flex;
    flex-direction: row;

}